<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      body{background:skyblue;font-family: verdana;color:#fff;padding:30px;}
      h1{
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
      }
      p{font-size: 16px;text-align: center;}
      form{
        width: 400px;
        max-width:100%;
        padding:20px;
        margin:20px auto;
      }
      label,input{
        display:block;
        margin:10px 0;
        padding:5px;
        width:100%;
      }
      input[value=submit]{
        width:auto;
      }﻿
    </style>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Contact Us!</h1>
    <p>You better to contact immediately!</p>
    <p><%= qs.person %></p>

    <form id="contact-form" method="POST" action="/contact">
      <label for="who">Who do you want to contact?</label>
      <input type="text" name="who" value="<%= qs.person %>">
      <label for="department">Which department?</label>
      <input type="text" name="department" value="<%= qs.dept %>">
      <label for="email">Your email</label>
      <input type="email" name="email" value="">
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
